body {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 2.8fr;
    grid-template-rows: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.date-div {
    margin: auto;
}

.date {
    font-size: 55px;
}

.weekday-month-year {
    margin: auto 0;
}

.decoration {
    background: url(image.jpg);
    background-repeat: repeat;
    background-size: auto 100%;
}

main {
    margin-top: 5%;
    display: grid;
}

.to-do-div {
    height: 50px;
    display: flex;
    margin: 1%;
}

.time {
    width: 13%;
    text-align: center;
    padding-top: 15px;
}

.todo-text {
    width: 70%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}
.todo-text:active {
    background-color: white;
}

.todo-text:focus, .submit:focus {
    outline: none;
    background-color: white;
}

.submit {
    width: 7%;
    margin-left: 2%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 15px;
    background: none;
}

.submit:hover {
    cursor: pointer;
}

.submit:active {
    transform: translateY(3px); 
}



